<div id="videoDiv2"> 
    <div id="video-container"></div>
    <video id="video2" preload="" autoplay="" muted="" playsinline="" loop="">
        <source src="../../../assets/video/inspecting.mp4" type="video/mp4">
    </video>
    <div id="videoMessage2" class="styling">
        <div class="bodyText" style="color:white;">
            Your Time Home Inspections
        </div>
        <div class="titleText2" style="color:white; font-weight:bold">
            Contact Us
        </div>
    </div>
</div>
<div class="container">
    <div class="mt-3">
        <div class="row text-center">
            <div class="home-card col-md-4 my-4">
                <div class="home-card-content">
                    <i class="icon fa fa-phone"></i>
                    <div class="smalltext">
                        <a href="tel:2103672945" style="text-decoration:none; color:black;">
                            (210) 367-2945
                        </a>
                        <a href="mailto: info@yourtimehomeinspections.com" style="text-decoration:none; color:black;">info@yourtimehomeinspections.com</a>
                    </div>
                </div>
            </div>
            <div class="home-card col-md-4 my-4">
                <i class="icon fa fa-clock-o"></i>
                <div class="smalltext">
                    Monday-Friday 7am-8pm
                    <br>
                    Saturday 8am-4pm
                    <br>
                    Sunday Closed
                </div>
            </div>
            <div class="home-card col-md-4 my-4">
                <i class="icon fa fa-map-marker"></i>
                <a href="https://goo.gl/maps/FRV1GVdzxUt9jpku8" target="_blank" style="text-decoration:none; color:black;">
                    <div class="smalltext">
                        1800 NE Interstate 410 Loop
                        <br>
                        Suite 216 San Antonio, TX 78209
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3472.039514626895!2d-98.4361155!3d29.515207399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865cf33781e53897%3A0x9f89b46bac99b3fa!2sYour%20Time%20Home%20Inspections!5e0!3m2!1sen!2sus!4v1658427340091!5m2!1sen!2sus" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-md-6 my-4 my-md-0">
            <div class="titleText my-3 d-block d-md-none">
                <span style="color:rgb(8,107,181); font-weight:bold;">|</span> Send Us A Message
            </div>
            <form [formGroup]="contactForm">

                <div class="form-panel">
                    <div class="form-row form-email">
                        <input type="text" formControlName="Name" placeholder="Name" [ngClass]="{'invalid' : Name && Name.invalid && Name.touched, 'valid' : Name && Name.valid && Name.touched}">
                        <br>
                    </div>
                </div>
                <div class="d-md-none" style="color:red; display:none;" [ngClass]="{'mobile-show' : Name && Name.invalid && Name.touched}">
                    Please enter a name
                </div>
                <div class="d-none d-md-block text-center" style="color:red; visibility:hidden;" [ngClass]="{'show' : Name && Name.invalid && Name.touched}">
                    Please enter a name
                </div>

                <div class="form-panel">
                    <div class="form-row form-email">
                        <input type="email" formControlName="Email" placeholder="Email Address" [ngClass]="{'invalid' : Email && Email.invalid && Email.touched, 'valid' : Email && Email.valid && Email.touched}">
                        <br>
                    </div>
                </div>
                <div class="d-md-none" style="color:red; display:none;" [ngClass]="{'mobile-show' : Email && Email.invalid && Email.touched}">
                    Please enter a valid email
                </div>
                <div class="d-none d-md-block text-center" style="color:red; visibility:hidden;" [ngClass]="{'show' : Email && Email.invalid && Email.touched}">
                    Please enter a valid email
                </div>

                <div class="form-row">
                    <textarea id="w3review" formControlName="Message" rows="4" cols="20" placeholder="Message" style="height: 155px !important;" [ngClass]="{'invalid' : Message && Message.invalid && Message.touched, 'valid' : Message && Message.valid && Message.touched}"></textarea>
                    <br>
                </div>
                <div class="d-md-none" style="color:red; display:none;" [ngClass]="{'mobile-show' : Message && Message.invalid && Message.touched}">
                    Please enter a message
                </div>
                <div class="d-none d-md-block text-center" style="color:red; visibility:hidden;" [ngClass]="{'show' : Message && Message.invalid && Message.touched}">
                    Please enter a message
                </div>

            </form>
            <div class="d-flex justify-content-center my-3">
                <a class="button-73" (click)="onSubmit()" *ngIf="contactForm.valid">
                    Submit
                </a>
                <div class="button-730" *ngIf="contactForm.invalid">
                    Submit
                </div>
            </div>
        </div>
    </div>
    <div class="text-center bodyText mt-2 mt-md-4">
        The Right Choice.
    </div>
    <div class="titleText text-center">
        Home Inspector in San Antonio, TX
    </div>
    <br>
    <div class="bodyText text-center text-md-left">
        <p>
            Your Time Home Inspections prides itself on following a comprehensive standard of practice which ensures our clients will receive a detailed accurate home inspection. We abide by a strict code of ethics, which puts each client’s interest first. We are members of SABOR, TPREIA, as well as a certified professional inspector, trained and certified by InterNachi. Call or book your home inspection online today.
        </p>
    </div>
    <div class="text-center bodyText mt-5">
        on your time!
    </div>
    <div class="text-center">
        <i class="fa fa-clock-o mr-2 d-none d-lg-inline"></i>
        <b class="titleText2 my-auto">Schedule Inspections <span style="color:rgb(8,107,181);">24hrs</span> A Day Online</b>
    </div>
    <div class="text-center my-3">
        <button class="button-73 mt-2 mb-4" role="button">Schedule An Inspection</button>
    </div>
</div>