<div id="videoDiv2"> 
    <div id="video-container"></div>
    <video id="video2" preload="" autoplay="" muted="" playsinline="" loop="">
        <source src="../../../assets/video/inspecting.mp4" type="video/mp4">
    </video>
    <div id="videoMessage2" class="styling">
        <div class="bodyText" style="color:white;">
            We Want To Be Your
        </div>
        <div class="titleText2" style="color:white; font-weight:bold">
            Home Inspection Team
        </div>
        <div class="text-center my-3 d-none d-md-block">
            <button class="button-73 mt-2 mb-4" role="button" routerLink="/guaranteed">200% Guarantee</button>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="text-center my-3 d-block d-md-none">
        <button class="button-73 mt-2 mb-3" role="button" routerLink="/guaranteed">200% Guarantee</button>
    </div>
    <div class="text-center bodyText mt-4">
        The Right Choice.
    </div>
    <div class="titleText text-center">
        Home Inspector in San Antonio, TX
    </div>
    <br>
    <div class="bodyText text-center text-md-left">
        <p>
            Your Time Home Inspections prides itself on following a comprehensive standard of practice which ensures our clients will receive a detailed accurate home inspection. We abide by a strict code of ethics, which puts each client’s interest first. We are members of SABOR, TPREIA, as well as a certified professional inspector, trained and certified by InterNachi. Call or book your home inspection online today.
        </p>
    </div>
    <!-- <div class="d-flex justify-content-center my-4">
        <img class="gif" src="../../../assets/ythi.gif" alt="gif">
    </div> -->
    <div class="text-center bodyText mt-md-5">
        on your time!
    </div>
    <div class="text-center">
        <i class="fa fa-clock-o mr-2 d-none d-lg-inline"></i>
        <b class="titleText2 my-auto">Schedule Inspections <span style="color:rgb(8,107,181);">24hrs</span> A Day Online</b>
    </div>
    <div class="text-center my-3">
        <button class="button-73 mt-2 mb-4" role="button">Schedule An Inspection</button>
    </div>
    <div class="titleText text-center my-3" style="background: orange;">
        <b>Meet The Owners!</b>
    </div>
    <div>
        <img class="ceo" src="../../../assets/yourtimeowners.jpeg" alt="owners">
        <br>
    </div>
    <div class="bodyText text-center">
        <i>James & Elvia Williams</i>
    </div>
    <div class="mx-auto my-3 my-md-5">
        <div class="bodyText">
            <p>
                <b>Our Promise To You</b><br>
                Choosing the right home inspector can be difficult. Different inspectors have varying qualifications, equipment, experience, reporting methods, and pricing. One thing that’s certain is that a home inspection requires a lot of work. Ultimately, a thorough inspection depends heavily on the individual inspector’s effort. If you honor us with your trust to inspect your new home, we guarantee that we will give you a very best effort. This is our promise to you.
            </p>
            <p>
                <b>Giving Back</b><br>
                We believe that true success is about more than growing a Home Inspection business; we devote time each year to charitable causes that benefit diverse populations. From helping the homeless to sponsoring charities that help families adopt children, Your Time Home Inspections is committed to improving the town we call home.
            </p>
        </div>
    </div>
</div>
<div id="videoDiv2"> 
    <video id="video2" preload="" autoplay="" muted="" playsinline="" loop="">
        <source src="../../../assets/video/call.mp4" type="video/mp4">
    </video>
    <div id="videoMessage2" class="styling">
        <div class="bodyText" style="color:white;">
            Your Time Home Inspections
        </div>
        <div class="titleText2" style="color:white; font-weight:bold">
            Our Support Team
        </div>
    </div>
</div>
<div class="employee-container">
    <div class="row my-2 my-md-4">
        <div class="col-md-6 col-xl-3 my-4 d-flex justify-content-center">
            <img class="employee" src="../../../assets/employees/elvia.jpg" alt="elvia">
        </div>
        <div class="col-md-6 col-xl-3 my-auto">
            <div class="bodyText">
                <div class="text-center mb-3" style="font-weight:bold;">
                    Elvia Williams
                </div>
                Wife & Mother of three amazing young men and a Sidney Lanier Graduate. Banker by trade & now proud co-owner with my Husband James Williams of Your Time Home Inspections. We continue to be blessed beyond words.
            </div>
        </div>
        <div class="col-md-6 col-xl-3 my-4 d-flex justify-content-center">
            <img class="employee" src="../../../assets/employees/rebekah.jpg" alt="rebekah">
        </div>
        <div class="col-md-6 col-xl-3 my-auto">
            <div class="bodyText">
                <div class="text-center mb-3" style="font-weight:bold;">
                    Rebekah Packer
                </div>
                I have been working in the home inspection business for 3+ years, scheduling inspections and providing high quality customer service. I look forward to assisting in anyway possible and improving my skills to continue serving our clients.
            </div>
        </div>
        <div class="col-md-6 col-xl-3 my-4 d-flex justify-content-center">
            <img class="employee" src="../../../assets/employees/roggie.jpg" alt="roger">
        </div>
        <div class="col-md-6 col-xl-3 my-auto">
            <div class="bodyText">
                <div class="text-center mb-3" style="font-weight:bold;">
                    Roger Sandoval
                </div>
                Roger provides his creativity in producing films, advertisements, applications and more for the company. Born and Raised in San Antonio, Roger has trasitioned from working in the service and goods industry into the world of tech and music engineering. Currently working on mulitple projects including a Your Time Home Inspections exclusive WDI form application.
            </div>
        </div>
        <div class="col-md-6 col-xl-3 my-4 d-flex justify-content-center">
            <img class="employee" src="../../../assets/employees/kalen.jpg" alt="kalen">
        </div>
        <div class="col-md-6 col-xl-3 my-auto">
            <div class="bodyText">
                <div class="text-center mb-3" style="font-weight:bold;">
                    Kalen Bahlman
                </div>
                Born and Raised in San Antonio Texas. Went to College in Virginia studied Political Science, Multimedia Journalism and creative writing. Has 5 years of Customer service and spare time collects everything Star Wars.
            </div>
        </div>
        <div class="col-md-6 col-xl-3 my-4 d-flex justify-content-center">
            <img class="employee" src="../../../assets/employees/belinda.jpg" alt="belinda">
        </div>
        <div class="col-md-6 col-xl-3 my-auto">
            <div class="bodyText">
                <div class="text-center mb-3" style="font-weight:bold;">
                    Belinda Burnett
                </div>
                I am a Grandma to 4 boys and one girl and a Great Grandma to three girls and one boy. I have over 10 years in clerical and support staff experience. I am Blessed to be a part of Your Time Home Inspections family
            </div>
        </div>
    </div>
</div>
<div id="videoDiv2"> 
    <video id="video2" preload="" autoplay="" muted="" playsinline="" loop="">
        <source src="../../../assets/video/inspecting.mp4" type="video/mp4">
    </video>
    <div id="videoMessage2" class="styling">
        <div class="bodyText" style="color:white;">
            Your Time Home Inspections
        </div>
        <div class="titleText2" style="color:white; font-weight:bold">
            Your Home Inspectors
        </div>
    </div>
</div>
<div class="employee-container">
    <div class="row my-2 my-md-4">
        <div class="col-md-6 col-xl-3 my-4 d-flex justify-content-center">
            <img class="employee" src="../../../assets/employees/james.jpg" alt="james">
        </div>
        <div class="col-md-6 col-xl-3 my-auto">
            <div class="bodyText">
                <div class="text-center mb-3" style="font-weight:bold;">
                    James Williams
                </div>
                James is co-owner and lead inspector of Your Time Home Inspections. He has been in the construction field both in residential and commercial his whole career to include commercial construction and commercial concrete.
                <div class="text-center my-3" style="font-weight: bold;">
                    TREC# 21507
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 my-4 d-flex justify-content-center">
            <img class="employee" src="../../../assets/employees/luis.jpg" alt="luis">
        </div>
        <div class="col-md-6 col-xl-3 my-auto">
            <div class="bodyText">
                <div class="text-center mb-3" style="font-weight:bold;">
                    Luis Vargas
                </div>
                I am very motivated and enthusiastic to help people when buying/selling a home. Married and father of an amazing woman. I speak Spanish and graduated in Mechanical Engineering.
                <div class="text-center my-3" style="font-weight: bold;">
                    TREC# 23535
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 my-4 d-flex justify-content-center">
            <img class="employee" src="../../../assets/employees/robbie.jpg" alt="robbie">
        </div>
        <div class="col-md-6 col-xl-3 my-auto">
            <div class="bodyText">
                <div class="text-center mb-3" style="font-weight:bold;">
                    Robbie Spencer
                </div>
                Proud Retired ARMY Staff Sergeant, Combat Veteran, and Patriot enlisting to follow in my father’s footsteps. I’m extremely proud to be a part of Your Time Home Inspections and eager to serve your home inspection needs!
                <div class="text-center my-3" style="font-weight: bold;">
                    TREC# 23968
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 my-4 d-flex justify-content-center">
            <img class="employee" src="../../../assets/employees/nicholas.jpg" alt="nicholas">
        </div>
        <div class="col-md-6 col-xl-3 my-auto">
            <div class="bodyText">
                <div class="text-center mb-3" style="font-weight:bold;">
                    Nicholas Pooley
                </div>
                Owned his own Home Inspection Company in Maine called “ Bay view Home Inspections”. Has two cats one is 8 years old named Daryl Loves to play Bass on his spare time and Bartend.
                <div class="text-center my-3" style="font-weight: bold;">
                    TREC# 24758
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center my-3 my-md-5">
        <a routerLink="/reviews" class="button-73 mt-2 mb-4" style="background-color:yellow; box-shadow: goldenrod 0 -12px 6px inset;" role="button">View Our Reviews</a>
    </div>
    <div class="mt-3 mt-md-5">
        <div class="titleText2 text-center">
            <i class="fa fa-certificate mr-2"></i>
            <b>
                Our Certifications
            </b>
        </div>
    </div>
    <div class="my-4">
        <div class="row">
            <div class="col-md-3 p-3 text-center" *ngFor="let cert of certs">
                <img class="cert" src="../../../assets/icons/{{cert.imgUrl}}.png" alt="certification">
            </div>
        </div>
    </div>
</div>