<div id="videoDiv2"> 
    <div id="video-container"></div>
    <video id="video2" preload="" autoplay="" muted="" playsinline="" loop="">
        <source src="../../../assets/video/team.mp4" type="video/mp4">
    </video>
    <div id="videoMessage2" class="styling">
        <div class="bodyText" style="color:white;">
            Make The Dream Work
        </div>
        <div class="titleText2" style="color:white; font-weight:bold">
            Join Our Team!
        </div>
        <div class="text-center my-3 d-none d-md-block">
            <button class="button-73 mt-2 mb-4" role="button">Click Here To Apply</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center my-3 d-block d-md-none">
        <button class="button-73 mt-2 mb-3" role="button">Click Here To Apply</button>
    </div>
    <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hzzi7DOtDQ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>