<!-- Footer -->
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container">
    <!-- Section: Links -->
    <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
        <!-- Grid column -->
        <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/about" class="link text-white">About us</a>
            </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/services" class="link text-white">Services</a>
            </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
            <a routerLink="faq" class="link text-white">FAQs</a>
            </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/reviews" class="link text-white">Reviews</a>
            </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/contact" class="link text-white">Contact</a>
            </h6>
        </div>
        <!-- Grid column -->
        </div>
        <!-- Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-5" />

    <!-- Section: Text -->
    <section class="mb-5">
        <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
            <p class="bodyText">
                Your Time Home Inspections is a Texas licensed professional inspection company. We are a member of SABOR, TPREIA and certified by InterNachi.
            </p>
        </div>
        </div>
    </section>
    <!-- Section: Text -->

    <!-- Section: Social -->
    <section class="text-center mb-5">
        <a href="https://www.facebook.com/YourTimeHomeInspect" target="_blank" class="text-white m-4">
        <i class="fa fa-facebook-f"></i>
        </a>
        <a href="https://www.youtube.com/watch?v=zzA35FjiT6g" target="_blank" class="text-white m-4">
        <i class="fa fa-youtube"></i>
        </a>
        <a href="https://www.google.com/maps/place/Your+Time+Home+Inspections/@29.5158292,-98.3333782,15z/data=!4m5!3m4!1s0x0:0x9f89b46bac99b3fa!8m2!3d29.5158292!4d-98.3333782" target="_blank" class="text-white m-4">
        <i class="fa fa-google"></i>
        </a>
        <a href="https://www.instagram.com/yourtimehomeinspect/?hl=en" target="_blank" class="text-white m-4">
        <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/rogeliosandoval/" target="_blank" class="text-white m-4">
        <i class="fa fa-linkedin"></i>
        </a>
    </section>
    <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
        >
    © 2022 Copyright: Your Time Home Inspections
    <div style="font-size:14px; opacity:0.7;">
        Designed By: Chubby Designs
    </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->