<nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{ 'background' : navChange }">
    <a class="navbar-brand" routerLink="/home">
        <img class="logo" [ngClass]="{ 'shrink' : navChange }" src="../../../assets/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav links ml-auto text-center">
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/home" data-toggle="collapse" data-target=".show">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/reviews" data-toggle="collapse" data-target=".show">Reviews</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/services" data-toggle="collapse" data-target=".show">Services</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/careers" data-toggle="collapse" data-target=".show">Careers</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/about" data-toggle="collapse" data-target=".show">About Us</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/faq" data-toggle="collapse" data-target=".show">FAQs</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/contact" data-toggle="collapse" data-target=".show">Contact Us</a>
        </li>
        <li class="d-block d-md-none nav-item mx-2">
          <div class="text-center">
            <button class="button-73 mt-3" role="button">Schedule An Inspection</button>
          </div>
        </li>
      </ul>
    </div>
</nav>