<div class="container mt-2 pb-5">
    <div class="text-center body-Text">
        on your time!
    </div>
    <div class="text-center">
        <i class="fa fa-clock-o mr-2 d-none d-lg-inline"></i>
        <b class="titleText2 my-auto">Schedule Inspections <span style="color:rgb(8,107,181);">24hrs</span> A Day Online</b>
    </div>
    <div class="text-center my-3">
        <button class="button-73 mt-2 mb-4" role="button">Schedule An Inspection</button>
    </div>
    <img class="group" src="../../../assets/group.jpg" alt=" group-picture">
    <div class="container bootstrap snippets bootdey my-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget wbg p-xl text-center">
                    <i class="icon fa fa-fighter-jet"></i>
                    <div class="titleText">
                        <p>
                            Fast Delivery
                        </p>
                    </div>
                    <hr>
                    <div class="bodyText">
                        <p>
                            Weekend inspections available and 24hr or less delivery of inspection reports
                        </p>
                    </div>
                </div>   
            </div>
            <div class="col-lg-4">
                <div class="widget wbg p-xl text-center">
                    <i class="icon fa fa-money"></i>
                    <div class="titleText">
                        <p>
                            Work Smarter
                        </p>
                    </div>
                    <hr>
                    <div class="bodyText">
                        <p>
                            Online ordering and our use of state-of-the-art equipment will save you time and money
                        </p>
                    </div>
                </div>   
            </div>
            <div class="col-lg-4">
                <div class="widget wbg p-xl text-center">
                    <i class="icon fa fa-graduation-cap"></i>
                    <div class="titleText">
                        <p>
                            Licensed And Certified
                        </p>
                    </div>
                    <hr>
                    <div class="bodyText">
                        <p>
                            We are in good standing with InterNACHI, SABOR, TPREIA, and TREC
                        </p>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <div class="text-center bodyText mt-4">
        The Right Choice.
    </div>
    <div class="titleText text-center">
        Home Inspector in San Antonio, TX
    </div>
    <br>
    <div class="bodyText text-center text-md-left">
        <p>
            Buying or selling a home is a monumental endeavor. Your Time Home Inspections in San Antonio will provide you with the professional and courteous inspection you deserve during this complex transaction. Reports are delivered within 24 hrs. Award-winning customer service. Competitive pricing. James Williams of Your Time Home Inspections is the home inspector to call for your home inspection needs. Call or book your home inspection online today.
        </p>
    </div>
    <div class="row my-5 text-center">
        <div class="col-md-6 my-auto">
            <div class="titleText3 d-flex justify-content-center">
                Residential Purchase
            </div>
            <br>
            <div class="bodyText">
                Have confidence in your asking price with a pre-listing inspection and avoid costly delays. A report you can rely on.
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <img class="house" src="../../../assets/clipart/house.png" alt="house">
        </div>
    </div>
    <div class="d-none d-md-block">
        <div class="row my-5 text-center">
            <div class="col-md-6">
                <img class="magnify" src="../../../assets/clipart/magnify.png" alt="magnifyglass">
            </div>
            <div class="col-md-6 mt-4 my-auto">
                <div class="titleText3 d-flex justify-content-center">
                    Pre-Listing Inspection
                </div>
                <br>
                <div class="bodyText">
                    Have a better understanding of the condition of your property with our residential home inspection. Buy with confidence!
                </div>
            </div>
        </div>
    </div>
    <div class="d-block d-md-none">
        <div class="row my-5 text-center">
            <div class="col-md-6 my-auto">
                <div class="titleText3 d-flex justify-content-center">
                    Pre-Listing Inspection
                </div>
                <br>
                <div class="bodyText">
                    Have a better understanding of the condition of your property with our residential home inspection. Buy with confidence!
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <img class="magnify" src="../../../assets/clipart/magnify.png" alt="magnifyglass">
            </div>
        </div>
    </div>
    <div class="row my-5 text-center">
        <div class="col-md-6 my-auto">
            <div class="titleText3 d-flex justify-content-center">
                Investment Property
            </div>
            <br>
            <div class="bodyText">
                Expand your portfolio with confidence using our investment property inspections. Quick & Reliable.
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <img class="list" src="../../../assets/clipart/list.png" alt="list">
        </div>
    </div>
    <div class="my-1 my-lg-5">
        <div class="bodyText text-center">
            Your Time Home Inspections
        </div>
        <div class="titleText text-center">
            Inspected Once, Inspected Right®
        </div>
    </div>
    <div class="my-1 my-md-5 p-4" style="background:orange;">
        <div class="row">
            <div class="col-md-5 my-5 my-md-auto d-flex justify-content-center">
                <img class="logo" src="../../../assets/logo.png" alt="logo">
            </div>
            <div class="col-md-7 my-auto">
                <div class="titleText text-center">
                    InterNACHI Trained & Certified
                </div>
                <br>
                <ul class="bodyText">
                    <li>
                        Safe Practices for the Home Inspector course.
                    </li>
                    <li>
                        25 Standards Every Inspector Should Know course.
                    </li>
                    <li>
                        Residential Plumbing Inspection course.
                    </li>
                    <li>
                        Roof Inspection course.
                    </li>
                    <li>
                        HVAC Inspection course
                    </li>
                    <li>
                        Exterior Inspection course.
                    </li>
                    <li>
                        Attic, Insulation, Ventilation and Interior Inspection course.
                    </li>
                    <li>
                        Deck Inspection course.
                    </li>
                    <li>
                        Moisture Intrusion Inspection course.
                    </li>
                    <li>
                        Inspecting Foundation Walls and Piers course.
                    </li>
                </ul>
            </div>
        </div>
    </div> 
    <div class="my-5">
        <div class="bodyText">
            What People Say About Us
        </div>
        <div class="titleText">
            <span style="color:rgb(8,107,181);">|</span> Client Testimonials
        </div>
    </div>
    <div class="my-5 my-md-0">
        <div class="row">
            <div class="col-lg-3 my-lg-auto d-flex justify-content-center">
                <img class="logo2" src="../../../assets/logo.png" alt="logo">
            </div>
            <div class="col-lg-9 bodyText my-auto">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="carousel-caption">
                            <p>
                                "Always a great experience. Always take great care of my clients with each and every inspection."
                            </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>
                                "I would recommend your inspection be conducted by them! Thorough and report submitted in a timely manner!"
                            </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>
                                "Always a great experience. Always take great care of my clients with each and every inspection."
                            </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>
                                "James was very professional. He was able to answer all my questions. Very pleased with their services. Would definitely recommend the company."
                            </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="carousel-caption">
                            <p>
                                "Dope service. Third time using them."
                            </p>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
          </div>
        </div>
    </div>
    <div class="text-center body-Text mt-md-5">
        on your time!
    </div>
    <div class="text-center">
        <i class="fa fa-clock-o mr-2 d-none d-lg-inline"></i>
        <b class="titleText2 my-auto">Schedule Inspections <span style="color:rgb(8,107,181);">24hrs</span> A Day Online</b>
    </div>
    <div class="text-center my-3">
        <button class="button-73 mt-2 mb-4" role="button">Schedule An Inspection</button>
    </div>
</div>