.container {
    width: 100%;
}

.top {
    display: flex;
    justify-content: center;
    position: relative;
}

.big-navi {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.small-navi {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}