<div id="videoDiv2"> 
    <div id="video-container"></div>
    <video id="video2" preload="" autoplay="" muted="" playsinline="" loop="">
        <source src="../../../assets/video/team.mp4" type="video/mp4">
    </video>
    <div id="videoMessage2" class="styling">
        <div class="bodyText" style="color:white;">
            You Have Questions?
        </div>
        <div class="titleText2" style="color:white; font-weight:bold">
            We Have Answers
        </div>
    </div>
</div>
<div class="container">
    <div class="my-4 my-md-5">
        <div class="titleText text-center my-3">
            “What is the difference between a home inspection and an appraisal?"
        </div>
        <div class="bodyText">
            <p>
                Usually the confusion starts with the the fact they both are needed prior to closing. The difference between these two is the simple fact that one determines the value of a home for your mortgage lender while the other determines the condition of a home for your benefit.
            </p>
            <p>
                An appraisal is conducted by a licensed appraiser, meaning not just anyone can perform such duties, and although the job functions between these two are similar in timing, home inspectors provide the buyer with knowledge to make an informed decision before closing.  The inspection report will provide conditions of the home- real problems and solutions without opinion or bias.
            </p>
        </div>
    </div>
    <div class="my-4 my-md-5">
        <div class="titleText text-center my-3">
            “Do I need to get a home inspection?"
        </div>
        <div class="bodyText">
            <p>
                There is no law that requires a buyer or a seller to conduct an inspection when purchasing or selling any home. However, getting a home inspection can uncover potentially hazardous issues that may become a problem in the future. Usually people wont notice little things with a quick look around but a home inspection will be able to provide you with a thorough review of your home. Basically, better to be safe than sorry.
            </p>
        </div>
    </div>
    <div class="my-4 my-md-5">
        <div class="titleText text-center my-3">
            “Who pays for a home inspection? Honestly, who wouldn’t want to?"
        </div>
        <div class="bodyText">
            <p>
                All property should be inspected before closing regardless of type. age, and condition. Both sellers and buyers can benefit from a home inspection because it allows both parties to feel confident in the transaction.
            </p>
            <p>
                Every real estate agent that does or does not list your property will always give you free advice about a “seller’s disclosure” and its importance. The “seller’s disclosure” level of protection can gain significance when accompanied by an inspection report from a licensed inspector.
            </p>
            <p>
                Buyers looking at a “seller’s disclosure” without an inspection report from the listing agent can reveal that the seller is not confident enough in their price point to invest in a presale inspection removing doubts as to the condition of the property.
            </p>
            <p>
                Be sure to work with a real estate agent for negotiations and possible rebates as it relates to costs of inspections and repairs.
            </p>
        </div>
    </div>
    <div class="text-center bodyText mt-md-5">
        on your time!
    </div>
    <div class="text-center">
        <i class="fa fa-clock-o mr-2 d-none d-lg-inline"></i>
        <b class="titleText2 my-auto">Schedule Inspections <span style="color:rgb(8,107,181);">24hrs</span> A Day Online</b>
    </div>
    <div class="text-center my-3">
        <button class="button-73 mt-2 mb-4" role="button">Schedule An Inspection</button>
    </div>
</div>