<div id="videoDiv2"> 
    <div id="video-container"></div>
    <video id="video2" preload="" autoplay="" muted="" playsinline="" loop="">
        <source src="../../../assets/video/stars.mp4" type="video/mp4">
    </video>
    <div id="videoMessage2" class="styling">
        <div class="bodyText" style="color:white;">
            Best San Antonio Home Inspector
        </div>
        <div class="titleText2" style="color:white; font-weight:bold">
            Check Out Our Reviews!
        </div>
    </div>
</div>
<div class="container mt-4 mt-md-0">
    <div class="text-center bodyText mt-md-5">
        on your time!
    </div>
    <div class="text-center">
        <i class="fa fa-clock-o mr-2 d-none d-lg-inline"></i>
        <b class="titleText2 my-auto">Schedule Inspections <span style="color:rgb(8,107,181);">24hrs</span> A Day Online</b>
    </div>
    <div class="text-center my-3">
        <button class="button-73 mt-2 mb-4" role="button">Schedule An Inspection</button>
    </div>
</div>
<div class="container mt-4 mt-md-5">
    <div class="row">
        <div class="col-md-4 margin-btm-20">
            <div class="quote dark">
                <blockquote>
                    <p>
                        Inspected our new build and found many little (but critical) issues that needed to be addressed. Amazing attention to detail and able to explain what was needed every step of the way. We will definitely be using their services in the future                        
                    </p>
                </blockquote>                        
            </div>
            <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="../../../assets/clipart/avatar-one.png" alt="avatar">
                </div>
                <h4>Ryan Smith</h4>
                <p style="color:yellow;">
                    <strong>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </strong>
                </p>
            </div>
        </div><!--colored quote box col-->
        <div class="col-md-4 margin-btm-20">
            <div class="quote green">
                <blockquote>
                    <p>
                        I always request Luis, he is great at explaining the inspection process to my clients. They have a great team.                       
                    </p>
                </blockquote>                        
            </div>
            <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="../../../assets/clipart/avatar-two.png" alt="avatar">
                </div>
                <h4>Oscar Madrigal</h4>
                <p style="color:yellow;">
                    <strong>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </strong>
                </p>
            </div>
        </div><!--colored quote box col-->
        <div class="col-md-4 margin-btm-20">
            <div class="quote dark">
                <blockquote>
                    <p>
                        Nicholas was very professional and took his time conducting the inspection. He spotted some of the issues that have been a ongoing issue plus. I can definitely say the inspection was money well spent. The appointment booking process with Your Time Home Inspections was VERY convenient and timely.                        
                    </p>
                </blockquote>                        
            </div>
            <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="../../../assets/clipart/avatar-one.png" alt="avatar">
                </div>
                <h4>Gill</h4>
                <p style="color:yellow;">
                    <strong>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </strong>
                </p>
            </div>
        </div><!--colored quote box col-->
    </div><!--testimonials row-->
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 margin-btm-20">
            <div class="quote dark">
                <blockquote>
                    <p>
                        This company is very quick with scheduling and communication. Inspection report are clear to read with detailed photo to match descriptions. Highly recommended.                         
                    </p>
                </blockquote>                        
            </div>
            <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="../../../assets/clipart/avatar-two.png" alt="avatar">
                </div>
                <h4>Aj Winchester</h4>
                <p style="color:yellow;">
                    <strong>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </strong>
                </p>
            </div>
        </div><!--colored quote box col-->
        <div class="col-md-8 margin-btm-20">
            <div class="quote green">
                <blockquote>
                    <p>
                        As an investor and RE Agent I’ve had the pleasure of working with James and his team at Home Time Inspections on many properties. Each time I learn more from him on what to look for and why. He’s been a go-to for some time now.                         
                    </p>
                </blockquote>                        
            </div>
            <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="../../../assets/clipart/avatar-one.png" alt="avatar">
                </div>
                <h4>Marky B</h4>
                <p style="color:yellow;">
                    <strong>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </strong>
                </p>
            </div>
        </div><!--colored quote box col-->

    </div><!--testimonials row-->
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 margin-btm-20">
            <div class="quote dark">
                <blockquote>
                    <p>
                        So far the best Home Inspection company I have ever hired, very professional, the report is very specific with pictures and videos. They take their time and make suggestions. Thank you so much.                        
                    </p>
                </blockquote>                        
            </div>
            <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="../../../assets/clipart/avatar-two.png" alt="avatar">
                </div>
                <h4>Beatriz Sanchez</h4>
                <p style="color:yellow;">
                    <strong>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </strong>
                </p>
            </div>
        </div><!--colored quote box col-->
        <div class="col-md-4 margin-btm-20">
            <div class="quote green">
                <blockquote>
                    <p>
                        Our appointment was scheduled within hours when we requested it. They kept us informed by email. The report was sent to us working hours of inspection. The report was detailed and precise. They are fast. Nice job. Great service. Will be recommending them to others.                         
                    </p>
                </blockquote>                        
            </div>
            <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="../../../assets/clipart/avatar-one.png" alt="avatar">
                </div>
                <h4>Jessica Ramirez</h4>
                <p style="color:yellow;">
                    <strong>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </strong>
                </p>
            </div>
        </div><!--colored quote box col-->
        <div class="col-md-4 margin-btm-20">
            <div class="quote dark">
                <blockquote>
                    <p>
                        Same day inspection report, fast and efficient.                        
                    </p>
                </blockquote>                        
            </div>
            <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="../../../assets/clipart/avatar-two.png" alt="avatar">
                </div>
                <h4>Josie Bledsoe</h4>
                <p style="color:yellow;">
                    <strong>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </strong>
                </p>
            </div>
        </div><!--colored quote box col-->
    </div><!--testimonials row-->
</div>
<div class="container mb-4">
    <div class="row">
        <div class="col-md-8 margin-btm-20">
            <div class="quote green">
                <blockquote>
                    <p>
                        James met my client at their new build house and found numerous problems including structural problems that the builder will not have to repair! Communication was great with James and Your Time office staff! Really appreciate the quick response and providing the inspection for my client! I look forward to Referring Your Time to other clients!                        
                    </p>
                </blockquote>                        
            </div>
            <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="../../../assets/clipart/avatar-one.png" alt="avatar">
                </div>
                <h4>Tim Terzich</h4>
                <p style="color:yellow;">
                    <strong>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </strong>
                </p>
            </div>
        </div><!--colored quote box col-->
        <div class="col-md-4 margin-btm-20">
            <div class="quote dark">
                <blockquote>
                    <p>
                        We needed a fast/ quality home inspection for the home we are purchasing- company scheduled within 2 business days! Detailed, easy to understand report came out the same day inspection was completed. Incredible. Thank you!   
                    </p>
                </blockquote>                        
            </div>
            <div class="quote-footer text-right">
                <div class="quote-author-img">
                    <img src="../../../assets/clipart/avatar-two.png" alt="avatar">
                </div>
                <h4>Paul Corniel</h4>
                <p style="color:yellow;">
                    <strong>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </strong>
                </p>
            </div>
        </div><!--colored quote box col-->
    </div><!--testimonials row-->
</div>
<div class="container">
    <div class="bodyText text-center">
        <i class="fa fa-google" style="color:green;"></i>oogle
    </div>
    <div class="text-center my-3">
        <button class="button-73 mt-2 mb-4" role="button">See More Reviews</button>
    </div>
    <div class="my-4 my-lg-5">
        <div class="bodyText text-center">
            Your Time Home Inspections
        </div>
        <div class="titleText text-center">
            Inspected Once, Inspected Right®
        </div>
    </div>
    <div class="my-1 my-md-5 p-4" style="background:orange;">
        <div class="row">
            <div class="col-md-5 my-5 my-md-auto d-flex justify-content-center">
                <img class="logo" src="../../../assets/logo.png" alt="logo">
            </div>
            <div class="col-md-7 my-auto">
                <div class="titleText text-center">
                    InterNACHI Trained & Certified
                </div>
                <br>
                <ul class="bodyText">
                    <li>
                        Safe Practices for the Home Inspector course.
                    </li>
                    <li>
                        25 Standards Every Inspector Should Know course.
                    </li>
                    <li>
                        Residential Plumbing Inspection course.
                    </li>
                    <li>
                        Roof Inspection course.
                    </li>
                    <li>
                        HVAC Inspection course
                    </li>
                    <li>
                        Exterior Inspection course.
                    </li>
                    <li>
                        Attic, Insulation, Ventilation and Interior Inspection course.
                    </li>
                    <li>
                        Deck Inspection course.
                    </li>
                    <li>
                        Moisture Intrusion Inspection course.
                    </li>
                    <li>
                        Inspecting Foundation Walls and Piers course.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>