<div id="videoDiv2"> 
    <div id="video-container"></div>
    <video id="video2" preload="" autoplay="" muted="" playsinline="" loop="">
        <source src="../../../assets/video/inspecting.mp4" type="video/mp4">
    </video>
    <div id="videoMessage2" class="styling">
        <div class="bodyText" style="color:white;">
            Best San Antonio Home Inspector
        </div>
        <div class="titleText2" style="color:white; font-weight:bold">
            Inspected Once, <br class="d-block d-md-none">Inspected Right®
        </div>
    </div>
</div>
<div class="container mt-4 mt-md-0">
    <div class="text-center bodyText mt-4">
        The Right Choice.
    </div>
    <div class="titleText text-center">
        Home Inspector in San Antonio, TX
    </div>
    <br>
    <div class="bodyText text-center text-md-left">
        <p>
            There are many factors that go into pricing our inspections. From the type of property to be inspected, the square footage of the home, the age of the home, is it on a slab foundation or pier and beam. Other factors that are considered are: is there a land irrigation system, pool and or spa? Where is the property located? All of these factors play a part in how we here at Your Time Home Inspections price our inspection. ​We want to give you the best service possible. In order for us to serve you better please call us for a free price quote!
        </p>
        <div class="text-center mb-4 mb-md-0">
            <b>(210) 367-2945</b>
        </div>
    </div>
    <div class="my-1 my-md-5 p-4" style="background:orange;">
        <div class="row">
            <div class="col-md-5 my-5 my-md-auto d-flex justify-content-center">
                <img class="logo" src="../../../assets/logo.png" alt="logo">
            </div>
            <div class="col-md-7 my-auto">
                <div class="titleText text-center">
                    InterNACHI Trained & Certified
                </div>
                <br>
                <ul class="bodyText">
                    <li>
                        Safe Practices for the Home Inspector course.
                    </li>
                    <li>
                        25 Standards Every Inspector Should Know course.
                    </li>
                    <li>
                        Residential Plumbing Inspection course.
                    </li>
                    <li>
                        Roof Inspection course.
                    </li>
                    <li>
                        HVAC Inspection course
                    </li>
                    <li>
                        Exterior Inspection course.
                    </li>
                    <li>
                        Attic, Insulation, Ventilation and Interior Inspection course.
                    </li>
                    <li>
                        Deck Inspection course.
                    </li>
                    <li>
                        Moisture Intrusion Inspection course.
                    </li>
                    <li>
                        Inspecting Foundation Walls and Piers course.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center bodyText mt-3 mt-md-5">
        on your time!
    </div>
    <div class="text-center">
        <i class="fa fa-clock-o mr-2 d-none d-lg-inline"></i>
        <b class="titleText2 my-auto">Schedule Inspections <span style="color:rgb(8,107,181);">24hrs</span> A Day Online</b>
    </div>
    <div class="text-center my-3">
        <button class="button-73 mt-2 mb-4" role="button">Schedule An Inspection</button>
    </div>
    <div class="titleText2 text-center mb-4" style="font-weight: bold;">
        Our Services
    </div>
    <div>
        <div class="row">
            <div class="col-md-6 box d-flex justify-content-center" style="background:grey;">
                <i class="fa fa-clipboard service-icon my-auto" style="color:white;"></i>
            </div>
            <div class="col-md-6 box p-5" style="background:orange;">
                <div class="titleText text-center mb-4">
                    Structural Inspection
                </div>
                <ul class="bodyText">
                    <li>Foundation</li>
                    <li>Grading and Drainage</li>
                    <li>Roof Covering</li>
                    <li>Walls - Interior and Exterior</li>
                    <li>Ceilings and Floors</li>
                    <li>Stairways - Interior and Exterior</li>
                    <li>Windows, Doors - Interior and Exterior</li>
                    <li>Fireplace</li>
                    <li>Porches, Decks and Railings</li>
                    <li>Garage Doors and Openers</li>
                    <li>Balconies and Carports</li>
                </ul>
            </div>
        </div>
    </div>
</div>