/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"; @import "~font-awesome/css/font-awesome.css";

ngb-modal-backdrop {
    z-index: 1050 !important;
}

body {
    padding-top: 129px;
    font-family: 'Trebuchet MS', sans-serif;
    height: 100vh;
    background: rgb(254,213,0);
    background: radial-gradient(circle, rgba(254,213,0,1) 0%, rgba(252,135,70,1) 100%) fixed;
}

@media (min-width: 992px) {
    body {
        padding-top: 125px;
    }
}